{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1"/>
    <title>Home</title>
    <link rel="stylesheet" href="{% static 'css/main.css' %}?v=0.0.8"/>
    <link rel="stylesheet" href="{% static 'css/styl.css' %}?v=0.0.8"/>
    <link rel="stylesheet" href="{% static 'css/jquery.mmenu.css' %}">
    <link rel="stylesheet" href="{% static 'css/slick.css' %}?v=0.0.8"/>
    <link rel="stylesheet" href="{% static 'css/slick-theme.css' %}?v=0.0.8"/>
    <link rel="stylesheet" href="{% static 'css/styl.css' %}?v=0.0.8"/>

    <link rel="shortcut icon" href="/favicon.ico"/>
    {% block css %}

    {% endblock css %}
</head>
<body class='home' {% if not request.user.is_authenticated and request.path == '/' %} style='background-image:url("{% static 'img/imgweb2.png' %}");background-size:cover;background-position:center center;' {% endif %}>
  {% if request.user.is_authenticated or request.path == '/ingresar/' %}


  <div id="page" class="wrapper">

    {% include "./header.html" %}
    {% include "./menu.html" %}
    {% block content %}

    {% endblock content %}
    <cart-view ></cart-view>
    {% include "./menu_footer.html" %}
    {% include "./footer.html" %}

  </div>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="{% static 'js/bootstrap.js' %}?v=0.0.4"></script>
    <script src='{% static "js/jquery.mmenu.js" %}'></script>
    {% if debug %}
        <script src='http://localhost:8080/static/app/app.js'></script>
    {% else %}
        <script src='{% static "app/app.js" %}?v=0.0.4'></script>

    {% endif %}
    {% block js %}

    {% endblock js %}
    <script src="{% static 'js/slick.min.js' %}"></script>
    <script src="{% static 'js/functions.js' %}?v=0.0.4"></script>
    {% endif %}
</body>
</html>
