{% load static %}
<div id="footer">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-3">
        <div class="block-list">
          <div class="logo"><img src="{% static 'img/logo_fanntop.png' %}" alt=""/></div>
          <p class="copy">© 2018 Gymshark US | All Rights Reserved.</p>
        </div>
      </div>
      <div class="col-md-3">
        <div class="block-list">
          <h3>HELP</h3>
          <ul>
            <li><a>Delivery & Returns</a></li>
            <li><a>Size Guides</a></li>
            <li><a>FAQs</a></li>
            <li><a>Orders</a></li>
            <li><a>Email Support</a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="block-list">
          <h3>MY ACCOUNT</h3>
          <ul>
            <li><a>Login</a></li>
            <li><a>Register</a></li>
          </ul>
        </div>
        <div class="block-list">
          <h3>SOCIAL MEDIA</h3>
          <ul class="social">
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube"></i></a></li>
          </ul>
        </div>
      </div>
      <div class="col-md-3">
        <div class="block-list">
          <h3>SIGN UP FOR OUR NEWSLETTER</h3>
          <div class="w-form">
            <form action="">
              <input type="text" class="text"/>
              <button type="submit" class="btn"><i class="fa fa-chevron-right"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
