<header id="header" class="full-width">
  <div class="container cf">
    <div class="row">
      <div class="col-md-3">
        <div class="wrap-logo">
          <h1 class="logo"><a href="{% url 'web_system:home' %}">fanntop</a></h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wrap-search">
          <input type="text" placeholder="¿ Que buscas ?"/>
        </div>
      </div>
      <div class="col-md-5">
        <ul class="list-options">
          <li><a href="#" class="fav"> <i class="fa fa-heart"></i>Mis Favoritos</a></li>
          <li><a href="#" class="account"> <i class="fa fa-user"></i>Mi Cuenta</a></li>
          <li><a href="#" class="shop"> <i class="fa fa-shopping-bag"></i>Mis Compras</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
