<header id="header" class="full-width">
  <div class="container cf">
    <div class="row">
      <div class="col-md-3">
        <div class="wrap-logo">
          <h1 class="logo"><a href="{% url 'web_system:home' %}">fanntop</a></h1>
        </div>
      </div>
      <div class="col-md-4">
        <div class="wrap-search">
          <input type="text" placeholder="¿ Que buscas ?"/>
        </div>
      </div>
      <div class="col-md-5">
        <ul class="list-options">
          <li><a href="#" class="fav"> <i class="fa fa-heart"></i>Mis Favoritos</a></li>
          {% if request.user.is_authenticated %}
            <li class="list-options__menu">
              <a href="" class="account"> <i class="fa fa-user"></i>{{request.user.first_name}}</a>
              <ul class=''>
                <span class='triangle'>

                </span>
                <li>
                  <a href=""> <i class="fa fa-dashboard"></i> Mi Cuenta</a>
                </li>
                <li>
                  <a href="{% url 'web_system:logout_view' %}"><i class=' fa fa-sign-out'></i>Cerrar sesión</a>
                </li>
              </ul>
            </li>
          {% else %}
            <li><a href="{% url 'web_system:login_register' %}" class="account"> <i class="fa fa-user"></i>Ingresar</a></li>

          {% endif %}
          <li><a href="#" @click.prevent='changeStatusCartView()' class="shop"> <i class="fa fa-shopping-bag"></i>Mis Compras</a></li>
        </ul>
      </div>
    </div>
  </div>
</header>
