{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main checkout">
  <div class="container">
    <div class="row ">
      <div class="boxw pages">
        <div class="w-body">
          <h2 class='pages__title'>Contacto</h2>
          <div class="pages__content">

            <div class="row">

              <div class="col-md-8 col-md-offset-2">
                <div class="row">
                  <div class="col-md-12">
                    <p>Gracias por contactarnos, un ejecutivo se contactara con ustedes</p>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}

{% endblock js %}
