{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}

<section class='paginas'>
  <div class="content">
    <div class="paginas__block">
      <h2 class="paginas__title">
         {{question_response_first.question}}
      </h2>
      <div class="paginas__description">
        <div class="paginas__menu">
          <ul>
            {% for question_response in question_responses %}
              <li>
                <a class='paginas__menu__link {% if slug == question_response.slug %}paginas__menu__link--active{% endif %} '  href='{% url 'web_page:question_response_question' question_response.slug %}'>{{question_response.question}}
                {% if slug == question_response.slug %}
                  <i class="fas fa-angle-right"></i>
                {% endif %}
                </a>
              </li>
            {% endfor %}
          </ul>
        </div>
        <div class="paginas__content">
          {{question_response_first.content|safe}}
        </div>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}

{% endblock js %}
