{% load static %}
{% load widget_tweaks %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <link rel="stylesheet" type="text/css" href="{% static 'assets/semantic/semantic.min.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'assets/css/main.css' %}">
</head>
<body class="page_login">
    <div class="ui middle aligned center aligned grid grid-login">
      <div class="column">
        <h2 class="ui header">
          <img src="{% static 'assets/img/admin/fanntop.svg' %}" class="image">
          <div class="content">
            Ingresar
          </div>
        </h2>
        <form class="ui large form ui form error" method="POST" action=".">
            {% csrf_token %}
          {% if form.errors or form.non_field_errors %}
            <div class="ui error message">

              {% for field in form %}
                  {% for error in field.errors %}
                          <p>{{ error }}</p>
                  {% endfor %}
              {% endfor %}
              {% for error in form.non_field_errors %}
                      <p>{{ error }}</p>
              {% endfor %}

            </div>
          {% endif %}
          <div class="ui stacked segment">
            <div class="field">
              <div class="ui left icon input">
                <i class="user icon"></i>
                {{form.username|attr:"type:email"|attr:"placeholder:email"}}
              </div>
            </div>
            <div class="field">
              <div class="ui left icon input">
                <i class="lock icon"></i>
                {{form.password|attr:"placeholder:password"}}
              </div>
            </div>
            <button class="ui fluid large  blue  button">Login</button>
          </div>

          <div class="ui error message"></div>

        </form>
      </div>
    </div>
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <script src="{% static 'assets/semantic/semantic.min.js' %}"></script>
</body>
</html>