[class^="ads-"], [class*=" ads-"] {
    text-align: center;
    line-height: .7;
    img{
        margin: 0 auto;
        display: block;
        max-width: 100%;
    }
    .container{
        padding: 0;
    }
}