.page-influencer{

}
.influencer__logo{
    width: 220px;
    margin: auto;
    margin-top: -75px;
    img{
        margin: auto;
        border-radius: 50%;
    }
    h3{
        text-align: center;
        margin: 15px 0;
    }
}