.paginas{
    margin-bottom: 60px;
    &__block{
        border: 1px solid $border;
    }
    &__description{
        display: flex;
    }
    &__content{
        padding: 35px;
        width: calc(100% - 260px);
        &__subtitle{
            font-size: 22px;
            margin-top: 15px;
            margin-bottom: 10px;
        }
    }
    &__title{
        margin: 0;
        padding: 25px 30px;
        font-size: 26px;
        border-bottom: 1px solid $border;
    }
    &__menu{
        border-right: 1px solid $border;
        padding: 25px;
        width: 260px;
        li{
            margin-bottom: 15px;
        }
        &__link{
            display: flex;
            justify-content: space-between;
            width: 100%;
            align-items: center;
            color: $border;
            &--active{
                color: $black;
            }
            &:hover{
                color: $black;
            }
        }
    }
}
@media (max-width: 768px){
  .paginas{
    &__title{
        padding: 0px;
        border: none;
    }
    &__block{
        border: none;
        margin-top: 30px;
    }
    &__menu{
        border: none;
        display: none;
    }
    &__content{
        padding: 0px;
        margin-top: 20px;
        width: 100%;
        &__subtitle{
            font-size: 18px;
        }
    }
  }

}