.page-product{
    margin-top: 60px;
    &__row_list{
        display: flex;
        position: relative;
        &__result{
            margin-top: 15px;
            margin-left: -15px;
            margin-right: -15px;
            display: flex;
            flex-wrap: wrap;
            &__item{
                // min-width: 260px;
                width: 33.3333%;
                padding: 15px;
                &--4{
                    width: 25%;
                }
                &__name_price{
                    margin: 8px 0;
                    display: flex;
                    align-items: flex-start;
                    justify-content: space-between;

                }
                i{
                    font-size: 18px ;
                    margin-left: 10px;
                }
            }
        }
        &__filter{
            margin-right: 20px;
            width: 250px;
            &__title{
                border-bottom: 1px solid $black;
                font-weight: bold;
                i{
                    display: none;
                }
            }
        }
        &__products{
            width: calc(100% - 270px);
            &__order{
                display: flex;
                align-items:center;
                .text{
                    margin-right: 4px;
                }
            }
            &__filter_top{
                display: flex;
                justify-content:space-between;
            }
            &__search{
                position: relative;
                max-width: 600px;
                width: 600px;
                input{
                    padding-left: 30px;

                }
                i{
                    position: absolute;
                    top: 9px;
                    font-size: 20px;
                    left: 7px;
                }
            }
        }
    }
}
@media (max-width: 1200px){
  .page-product__row_list__products__search{
    width: 500px;
    max-width: 500px;
  }
}

@media (max-width: 1000px){
  .page-product__row_list__products__search{
    width: 400px;
    max-width: 400px;
  }
  .page-product__row_list__filter__title i{
    display: block;
  }
  .page-product__row_list__products{
    width: 100%;
    min-height: 600px;
  }
  .page-product__row_list__filter{
    width: 0;
  }
  .page-product__row_list__filter{
    position: absolute;
    z-index: 100;
    background: white;
    transition: 0.4s ease all;
    opacity: 1;
    width: 270px;
    left: -10px;
    top: 0;
    border-radius: 4px;
    border-right: 1px solid $black;
    border-bottom: 1px solid $black;
    border-top: 1px solid $black;
    background: $white;
    &--hidden{
        left: -100%;
        padding: 0;
        transition: 0.4s ease all;
        opacity: 0;
    }
    .sidebar{
        padding-top: 10px;
        padding-bottom: 10px;
    }
    &__title{
        display: flex;
        justify-content: space-between;
    }
   }
}
@media (max-width: 960px){
    .page-product__row_list__result__item--4{
        width: 33.333333%;
    }
}
@media (max-width: 650px){
    .page-product__row_list__result__item{
        width: 50%;
    }
    .page-product__row_list__products__filter_top{
        flex-direction: column;
    }

    .page-product__row_list__products{
        &__search{
            width: 100%;
            max-width: 100%;
            margin-bottom: 10px;
        }
        &__order{
            width: 300px;
            margin: auto;
        }
    }
}
@media (max-width: 480px){
    .page-product__row_list__result__item{
        width: 100%;
    }
}