.sidebar_account
    &__info
        margin-top 20px
    ul
        li
            margin 5px 0px
.page-account
    &__form
        .col-md-6
            margin-bottom 15px
    .title_order
        font-size 16px
        margin-bottom 15px
    .order_info
        margin-bottom 20px
    .order_products
        margin-top 15px
        margin-bottom 15px
    .content_address
        border 1px dashed #ff7e00
        display block
        padding 10px
        color black
        margin-bottom 15px
        strong
            color black
        p
            color black
            margin 3px 0