.main_checkout_thanks
    &__title
        margin-bottom 10px

.blo-coupon
    margin-top 20px
    .form-coupon
        font-size 0
        .form-control
            width calc(100% - 80px)
            display inline-block
            vertical-align top
            border-top-right-radius 0
            border-bottom-right-radius 0
        .btn-coupon
            width 80px
            height 34px
            display inline-block
            border-top-left-radius 0
            border-bottom-left-radius 0
            vertical-align top
            padding 7px 0px
.save_hidden
    display none