{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main page-account">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <div class="">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h2 class="title_page">Buscar mi pedido</h2>
            </div>
          </div>
          <div class="w-body">
            <form class="row order_info" method='POST' action="">
              {% csrf_token %}
              {{form.errors}}
              <div class="col-md-4 col-md-offset-2">
                <div class="form-group">
                  <label for="">Num de Orden</label>
                  {{form.num_order|add_class:'form-control'}}
                </div>
              </div>
             <div class="col-md-4">
                <div class="form-group">
                  <label for="">Email</label>
                  {{form.email|add_class:'form-control'}}
                </div>
              </div>
              <div class="col-md-8 col-md-offset-2">
                <button class="btn btn-primary pull-right">Buscar</button>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
    {% if order %}
      <div class="page-account__row order">
        <div class="order__header">
          <h3>Orden</h3>
          <h3 class="order__header__status">Almacén</h3>
          <h3 class="order__header__status">Enviado</h3>
          <h3 class="order__header__status">Recibido</h3>
        </div>
        <div class="order__content">
          <div class="order__content__body">
            <div class="order__content__body__item">
              <div class="order__content__body__item__header">
                <a href="" class='order__content__body__link'><span>{{order.code}}</span> <i class="fas fa-angle-down"></i></a>
                <div class="order__content__body__status {% if order.type_status_shipping == 'AL' %}order__content__body__status--block{% endif %}">
                  {% if order.type_status_shipping == 'AL' %}
                    <span class='order__content__body__status__radius order__content__body__status__radius--red'>
                    </span>
                  {% endif %}
                </div>
                <div class="order__content__body__status {% if order.type_status_shipping == 'DS' %}order__content__body__status--block{% endif %}">
                  {% if order.type_status_shipping == 'DS' %}
                    <span class='order__content__body__status__radius
                    order__content__body__status__radius--yellow'></span>
                  {% endif %}
                </div>
                <div class="order__content__body__status {% if order.type_status_shipping == 'EG' %}order__content__body__status--block{% endif %}">
                  {% if order.type_status_shipping == 'EG' %}
                    <span class='order__content__body__status__radius order__content__body__status__radius--green'></span>
                  {% endif %}
                </div>
              </div>
              <div class="order__content__body__item order__content__body__item--none">
                {% for detail in order.order_orderdetail.all %}
                  <p class="order__content__body__item__product">
                    {{detail.productdetail.product_class.name}}
                  </p>
                {% endfor %}
              </div>
            </div>
          </div>
        </div>
        <div class="order__leyend">
          <div class="order__leyend__item">
            <span class='order__leyend__status order__leyend__status--red'></span>
            Almacén
          </div>
          <div class="order__leyend__item">
            <span class='order__leyend__status order__leyend__status--yellow'></span>
            Enviado
          </div>
          <div class="order__leyend__item">
            <span class='order__leyend__status order__leyend__status--green'></span>
            Recibido
          </div>
        </div>
      </div>

    {% endif %}
  </div>
</section>
{% endblock content %}
{% block js %}

{% endblock js %}
