{% extends "common/base.html" %}
{% load static thumbnail product_tags %}
{% block css %}

{% endblock css %}
{% block content %}

<section class="featured">
  <div class="container-fluid">
    <div class="row">
        <div class="home-slick">
          <a {% if home_banners.0.url %}href='{{home_banners.0.url}}'{% endif %} class="home-slick__item" style='background-image:url({{ home_banners.0.image.url }})'>
          </a>
          <a {% if home_banners.1.url %}href='{{home_banners.1.url}}'{% endif %} class="home-slick__item" style='background-image:url({{ home_banners.1.image.url }})'></a>
          <a {% if home_banners.2.url %}href='{{home_banners.2.url}}'{% endif %} class="home-slick__item" style='background-image:url({{ home_banners.2.image.url }})'>
          </a>
        </div>
        <a {% if home_banners.2.url %}href='{{home_banners.3.url}}'{% endif %} class="col-md-6 col-xs-6 mt-20 home-slick__block" style='background-image:url({{ home_banners.2.image.url }})'>
        </a>
        <a {% if home_banners.1.url %}href='{{home_banners.4.url}}'{% endif %} class=" col-md-6 col-xs-6 mt-20 home-slick__block" style='background-image:url({{ home_banners.1.image.url }})'>
        </a>
    </div>
</section>
<section class="home_influencer ">
  <div class="home_influencer__content ">
    <router-view ></router-view>
    <div class="home_influencer__slick">
      {% for influencer_chunks in influencers|chunks %}

      <div class="home_influencer__slick__item">
        {% for inf in influencer_chunks %}
          <a href="" class='home_influencer__item'>
            {% thumbnail inf.image "242x315" crop="center" as im %}
                <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
            {% endthumbnail %}
            <h3 class='home_influencer__item__name'>{{inf.name}}</h3>
          </a>
        {% endfor %}

      </div>
      {% endfor %}
    </div>
  </div>
</section>
{% endblock content %}
{% block js %}
<script>
jQuery(document).ready(function($) {
    $(".home-slick").slick({
      infinite: true,
      slidesToShow: 1,
      slidesToScroll: 1,
      prevArrow: '<i class="slick-prev fas fa-angle-left"></i>',
      nextArrow: '<i class="slick-next fas fa-angle-right"></i>'
    });
    $(".home_influencer__slick").slick({
      slidesToShow: 3,
      slidesToScroll: 1,
      prevArrow: '<i class="slick-prev home_influencer__prev fas fa-angle-left"></i>',
      nextArrow: '<i class="slick-next home_influencer__next fas fa-angle-right"></i>'
    });

});
</script>


{% endblock js %}
