{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main page-account">
  <div class="content">
    <div class="page-account__avatar">
      {% if request.user.avatar %}
        {% thumbnail request.user.avatar "150x150" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'img/avatar.png' %}" class='img-responsive' width='150' alt="">
      {% endif %}
    </div>
    <div class="page-account__ctn_edit_profile">
      <a href="{% url 'web_system:edit_profle' %}" class='btn btn--main page-account__btn_edit_profile'> EDITAR PERFIL</a>
    </div>
    <div class="page-account__links">
      <ul class=''>
        <li><a href="{% url 'web_system:my_order' %}">Mis Compras
           </a></li>
        <li><a class='active' href="{% url 'web_system:my_address' %}">Mis direcciones</a></li>

      </ul>
    </div>
    <div class="row page-account__row">
      <div class="col-md-8 col-md-offset-2">
        {% for addr in address %}
        <div class="page-account__address">
          <a href='{% url "web_system:my_address_edit" addr.pk %}'>
            <strong>{{addr.get_type_address_display}}</strong>
            <p>{{addr.address}} - {{addr.ubigeo.full_ubigeo}}</p>
          </a>
          <a href="">
            <i class='far fa-trash'></i>
          </a>
        </div>
        {% endfor %}
        <a href='{% url "web_system:my_address_create" %}' class="btn btn--main pull-right">Agregar Dirección</a>
      </div>
    </div>

</section>
{% endblock content %}
{% block js %}
<script>
  jQuery(document).ready(function($) {
    var departamento_initial = $('#id_shipping-departamento')
    departamento_initial.html('')
    var code_departamento = '{{code_departamento}}'
    var code_provincia = '{{code_provincia}}'
    var code_distrito = '{{code_distrito}}'
    $.ajax({
        'url': '{% url "ubigeo:api_departamentos" %}',
        'method': 'GET',
        'success': function (data) {
            departamento_initial.append('<option value="" selected="selected">Seleccione Departamento</option>');
            for (var i = 0; i < data.departamentos.length; i++) {
              if (code_departamento == data.departamentos[i].codigo) {
                departamento_initial.append('<option selected="selected" value="' + data.departamentos[i].codigo + '">' + data.departamentos[i].descripcion + '</option>');
              } else {
                departamento_initial.append('<option value="' + data.departamentos[i].codigo + '">' + data.departamentos[i].descripcion + '</option>');
              }
            }
            if (code_departamento) {
              $('#id_shipping-departamento').trigger('change')
            }
            // provincia.change();
        }
    })
    $('#id_shipping-departamento').change(function(event) {
    /* Act on the event */
      var departamento = $(this).val();
      var provincia = $('#id_shipping-provincia')
      var distrito = $('#id_shipping-ubigeo')
      provincia.html('');
      distrito.html('');
      if (departamento) {
        $.ajax({
              'url': '{% url "ubigeo:api_provincias" %}' + '?departamento=' + departamento,
              'method': 'GET',
              'success': function (data) {
                  provincia.append('<option value="" selected="selected">Seleccione Provincia</option>');
                  for (var i = 0; i < data.provincias.length; i++) {
                    if (code_provincia == data.provincias[i].codigo) {
                      provincia.append('<option  selected="selected" value="' + data.provincias[i].codigo + '">' + data.provincias[i].descripcion + '</option>');
                    } else {
                      provincia.append('<option value="' + data.provincias[i].codigo + '">' + data.provincias[i].descripcion + '</option>');
                    }
                  }
                  if (code_provincia) {
                    $('#id_shipping-provincia').trigger('change')
                  }
                  // provincia.change();
              }
          })
      } else {
        provincia.append('<option value="" selected="selected">Seleccione Provincia</option>');
        distrito.append('<option value="" selected="selected">Seleccione Distrito</option>');
        code_provincia = ''
      }


    });
    $('#id_shipping-provincia').change(function(event) {
    /* Act on the event */
      var provincia = $(this).val();
      var distrito = $('#id_shipping-ubigeo')
      distrito.html('');
      $.ajax({
            'url': '{% url "ubigeo:api_distritos" %}' + '?provincia=' + provincia,
            'method': 'GET',
            'success': function (data) {
                distrito.append('<option value="" selected="selected">Seleccione Distrito</option>');
                for (var i = 0; i < data.distritos.length; i++) {
                  if (code_distrito == data.distritos[i].pk) {
                    distrito.append('<option selected="selected" value="' + data.distritos[i].pk + '">' + data.distritos[i].descripcion + '</option>');
                  } else {
                    distrito.append('<option value="' + data.distritos[i].pk + '">' + data.distritos[i].descripcion + '</option>');
                  }
                }
                code_distrito = ''
                // provincia.change();
            }
        })


    });
  });
</script>
{% endblock js %}