{% extends "common/base.html" %}
{% load static thumbnail widget_tweaks %}
{% block css %}

{% endblock css %}
{% block content %}
<section class="main page-account">
  <div class="content">
    <div class="page-account__avatar">
      {% if request.user.avatar %}
        {% thumbnail request.user.avatar "150x150" crop="center" as im %}
            <img src="{{ im.url }}" width="{{ im.width }}" height="{{ im.height }}">
        {% endthumbnail %}
      {% else %}
        <img src="{% static 'img/avatar.png' %}" class='img-responsive' width='150' alt="">
      {% endif %}
    </div>
    <div class="page-account__ctn_edit_profile">
      <a href="{% url 'web_system:edit_profle' %}" class='btn btn--main page-account__btn_edit_profile'> EDITAR PERFIL</a>
    </div>
    <div class="page-account__links">
      <ul class=''>
        <li><a class='active' href="{% url 'web_system:my_order' %}">Mis Compras
           </a></li>
        <li><a  href="{% url 'web_system:my_address' %}">Mis direcciones</a></li>

      </ul>
    </div>
    <div class="page-account__row order">
      <div class="order__header">
        <h3>Orden</h3>
        <h3 class="order__header__status">Almacén</h3>
        <h3 class="order__header__status">Enviado</h3>
        <h3 class="order__header__status">Recibido</h3>
      </div>
      <div class="order__content">
        {% for order in orders %}
        <div class="order__content__body">
          <div class="order__content__body__item">
            <div class="order__content__body__item__header">
              <a href="" class='order__content__body__link'><span>{{order.code}}</span> <i class="fas fa-angle-down"></i></a>
              <div class="order__content__body__status {% if order.type_status_shipping == 'AL' %}order__content__body__status--block{% endif %}">
                {% if order.type_status_shipping == 'AL' %}
                  <span class='order__content__body__status__radius order__content__body__status__radius--red'>
                  </span>
                {% endif %}
              </div>
              <div class="order__content__body__status {% if order.type_status_shipping == 'DS' %}order__content__body__status--block{% endif %}">
                {% if order.type_status_shipping == 'DS' %}
                  <span class='order__content__body__status__radius
                  order__content__body__status__radius--yellow'></span>
                {% endif %}
              </div>
              <div class="order__content__body__status {% if order.type_status_shipping == 'EG' %}order__content__body__status--block{% endif %}">
                {% if order.type_status_shipping == 'EG' %}
                  <span class='order__content__body__status__radius order__content__body__status__radius--green'></span>
                {% endif %}
              </div>
            </div>
            <div class="order__content__body__item order__content__body__item--none">
              {% for detail in order.order_orderdetail.all %}
                <p class="order__content__body__item__product">
                  {{detail.productdetail.product_class.name}}
                </p>
              {% endfor %}
                <a href="{% url 'web_system:my_order_detail' order.pk %}">Ver detalle</a>
            </div>
          </div>
        </div>
        {% endfor %}

      </div>
      <div class="order__leyend">
        <div class="order__leyend__item">
          <span class='order__leyend__status order__leyend__status--red'></span>
          Almacén
        </div>
        <div class="order__leyend__item">
          <span class='order__leyend__status order__leyend__status--yellow'></span>
          Enviado
        </div>
        <div class="order__leyend__item">
          <span class='order__leyend__status order__leyend__status--green'></span>
          Recibido
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
{% block js %}
  <script>
  jQuery(document).ready(function($) {
    $(".order__content__body__link").click(function(event) {
      /* Act on the event */
      event.preventDefault()
      $(this).closest('.order__content__body__item').find('.order__content__body__item').toggleClass('order__content__body__item--none');
    });
  });
  </script>
{% endblock js %}
